__pycache__
dtypes.py
tests/*
todo.txt
.DS_Store

# Will include 1K rows of sample data from kaggle dataset
data/clean/
store_sales_samples.zip
mlruns/
optuna_studies.db
read_me.txt
*.json
submission.csv
scripts/load_from_manifest.py
*.joblib
scratch.py
submissions/